  <section class="banner">
      <div class="bookish">Bookish.com</div>
      <div class="linkss">
        <div class="menu-icon" id="menu-icon">☰</div>
   <ul class="nav-links" id="nav-links">
     <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/products">Books</a>
  </li>
  <% if (user && user.role === 'admin') { %>
    <li>
    <a href="/admin/add-product">Add Product</a>
  </li>

<li>
    <a href="/admin/products">My Books</a>
   </li>
    <% } %>
    <% if (user && user.role === 'buyer') { %>
<li>
    <a href="/cart">My Cart</a>
   </li>
   <li>
    <a href="/orders">My Orders</a>
   </li>
   <% } %>
    <li>Contact Us</li>
    <% if (user) { %>
  <li class="classButton">
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </li>
<% } else { %>
  <li class="button classButton">
    <a href="/signup">Signup</a>
  </li>
  <li class="button classButton">
    <a href="/login">Login</a>
  </li>
<% } %>
 
    
   </ul>
</div>

</section>