<%- include('./head.ejs') %>

</head>
<body>
    <%- include('./banner.ejs') %>

<section class="description">
    <p>Are you ready to<br> explore more books?</p>
    <p>Simplicity in design is not about removing elements, but about focusing on what truly matters. A clean and well-structured interface helps users navigate with ease and clarity</p>
     <form action="/products" method="GET">
      <button type="submit">EXPLORE</button>
    </form>
</section>
           <%- include('./footer.ejs') %>  

<%- include('./end.ejs') %>  
                    <script src="/js/banner.js"></script>
