<%- include('./head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   

    <main class="login"> 
       
        <form class="login-form" action="/reset-password" method="POST">
            <div class="form-control"> <form action="/reset-password" method="POST">
    <input type="hidden" name="token" value="<%= token %>">

                <label for="password">Password</label>
                <input type="password" name="newPassword" id="password">
            </div>
            
 
            <button class="btn" type="submit">Reset password</button>
        </form>
    </main>
<%- include('./end.ejs') %>